In [1]:
# import dependencies
import pandas as pd

In [2]:
# Read csv and review first 5 rows of data table
weather_hawaii = pd.read_csv('Resources/hawaii_measurements.csv')
weather_hawaii.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [4]:
# Convert csv to html
weather_hawaii.to_html('weather_hawaii.html')